html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #f9f9f9;
  color: #141414;
  font-variant-numeric: lining-nums;
}

.header {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container {
  max-width: 1230px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__title {
  font-size: 90px;
  font-weight: 900;
  background: url(../images/bg-title.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 80px 0;
}

.header__title span {
  text-transform: uppercase;
}

.main {
  margin-top: 100px;
}

/* about start */

.about {
  margin-bottom: 100px;
}

.about__title {
  font-size: 48px;
  text-align: center;
  padding-bottom: 100px;
  text-transform: uppercase;
  background: url(../images/bg-h2.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid__card {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.card__item {
  background-color: #fff;
  border-radius: 1.6rem;
  overflow: hidden;
  position: relative;
}

.wrapper__image {
  width: 100%;
  position: relative;
}

.image {
  padding-bottom: 56.2%;
}

.image-ratio {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

.card-info {
  color: #fff;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  -moz-transform: translateX(0px) translateY(20px);
  -webkit-transform: translateX(0px) translateY(20px);
  -o-transform: translateX(0px) translateY(20px);
  -ms-transform: translateX(0px) translateY(20px);
  transform: translateX(0px) translateY(20px);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.card-info-body {
  flex: 1;
  display: flex;
}

.info-description {
  flex: 1;
}

.info-description__title {
  font-size: 24px;
  margin-bottom: 1.2rem;
  line-height: 1.2;
  text-align: center;
}

.info-description__title p {
  font-size: 1.2rem;
  margin-bottom: .8rem;
}

.card__item:hover .card-overlay {
  opacity: 1;
}

.card-info {
  -moz-transform: translateX(0) translateY(0);
  -webkit-transform: translateX(0) translateY(0);
  -o-transform: translateX(0) translateY(0);
  -ms-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
}

.image-ratio {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
  background-color: orangered;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  transition: background-color 0.3s ease 0s;
}

button:hover {
  background-color: #fff;
  color: orangered;
}

/* slider start */

.slider {
  position: relative;
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee391;
  overflow: hidden;
  padding: 100px 0;
  margin-bottom: 100px;
}

.swiper {
  width: 100%;
  align-items: center;
}

.slider__title {
  font-size: 48px;
  text-align: center;
  padding-bottom: 100px;
  text-transform: uppercase;
  background: url(../images/bg-h2.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper-slide {
  width: 300px;
  height: 400px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide span {
  text-transform: uppercase;
  color: #fff;
  background: #1b7402;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 30px;
}

.swiper-slide--one span {
  background: #b93b5d;
}

.swiper-slide--two span,
.swiper-slide--six span {
  background: #087ac4;
}

.swiper-slide--three span,
.swiper-slide--seven span {
  background: #b45205;
}

.swiper-slide--four span {
  background: #b3a140;
}

.swiper-slide p {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/banana.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/guava.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/strawberries.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/dates.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/goji.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--six {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/black_sapote.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--seven {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/coconut.jpg) no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

/* main__info start */

.main__info {
  margin-bottom: 100px;
}

.main__info-descr {
  font-size: 24px;
  line-height: 1.6;
}

.main__info-descr span {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background: url(../images/bg-h2.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* list start */

.list {
  margin-bottom: 100px;
  background-image: url(../images/fruit-list.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #dfede0;
}

.list__title {
  font-size: 48px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  text-transform: uppercase;

  background: url(../images/bg-title.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 70px;
  font-size: 24px;
  padding: 0 50px 100px;
  font-weight: 700;
  color: #4b4b4b;
}

/* facts start */

/* styling section question start */

.facts {
  padding-bottom: 100px;
}

.facts__title {
  font-size: 48px;
  text-align: center;
  padding-bottom: 100px;
  text-transform: uppercase;
  background: url(../images/bg-h2.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.facts__item-subtitle {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 21px;
  color: orangered;
}

.facts__item-text {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 21px;
  color: #575757;
}

/* footer start */

footer {
  background-color: #9eb340;
}

.social__media-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px 0;
}

.social__media-icon {
  width: 40px;
  height: 40px;
}

.social__media-link a:hover,
.social__media-link a:active {
  color: #920000;
}

.copyright {
  text-align: center;
  padding-bottom: 20px;
}

/* adaptive start */

@media(max-width: 800px){
  .header__title {
    font-size: 70px;
  }

}

@media(max-width: 600px){
  .header__title {
    font-size: 52px;
    padding: 100px 0 0 0;
  }

  .main{
    margin-top: 50px;
  }

  .main__info{
    margin-bottom: 50px;
  }

  .main__info-descr{
    font-size: 18px;
  }

  .main__info-descr span{
    font-size: 22px;
  }

  .list{
    margin-bottom: 50px;
  }

  .list__title{
    font-size: 36px;
    padding-bottom: 50px;
  }

  .list__items{
    font-size: 18px;
    gap: 24px;
    padding: 0 20px 50px;
  }

  .about{
    margin-bottom: 50px;
  }

  .about__title{
    font-size: 36px;
    padding-bottom: 50px;

  }

  .info-description__title{
    font-size: 20px;
    margin-bottom: 16px;
  }

  .slider__title{
    font-size: 36px;
    padding-bottom: 50px;

  }
}

@media(max-width: 520px){
  .grid__card{
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  .card-info{
    padding: 16px;
  }

  .info-description__title {
    font-size: 18px;
    margin-bottom: 14px;
  }

  button{
    font-size: 12px;
  }
  
}

@media(max-width: 500px){
  .list__items{
    font-size: 14px;
    padding-bottom: 30px;
  }
}

@media(max-width: 450px){
  .header__title {
    font-size: 42px;
  }

  .list__title{
    font-size: 30px;
  }

  .about__title{
    font-size: 30px;
  }
}