html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
}

body{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;

}

.header{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.container {
    max-width: 1230px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__title{
    font-size: 90px;
    color: white;
    font-weight: 900;
    background: url(../images/bg-title.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 50px;
}

.header__title span{
    text-transform: uppercase;
}